<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Selection</title>
</head>

<body>
    <div id="selection_box">
        <button id="client">client</button>
        <button id="counselor">counselor</button>
        <button id="looking_around">looking_around</button>
        <button id="logout">logout</button>
    </div>
</body>

</html>