
<!--  회원 탈퇴 사유 페이지 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원 탈퇴 사유</title>
</head>

<body>
    회원 탈퇴 사유
    <!--
    1. 탈퇴 사유 선택/작성
    2. 탈퇴 사유 데이터 수집
    3. 계정 데이터 데이터베이스에서 삭제(2주동안 재가입 불가)
     -->
    <form  action="/withdrawal_reason" method="post">
        <select name="" id="">
            <option value="a">a</option>
            <option value="b">b</option>
            <option value="c">c</option>
            <option value="d">d</option>
            <option value="e">e</option>
        </select>
        <textarea name="name" rows="8" cols="60"></textarea>
    </form>

</body>

</html>
